@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    background: var(--grey)
}
:root {
    --light: #fff;
    --dark: #181b24;
    --grey: #899495;
    --orange: #fc5130;
    --SectionGrey: #f2f2f2;
    --SectionWhite: #ffffff;
    --Blue: #00cca3;
}
/* nav */
.nav {
    background: var(--light);
}
.nav__header {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    border-bottom: 0.5rem solid var(--Blue);

}
.nav__logo {
    opacity: 0.5;
  
}

.nav__links {
    list-style-type: none;
    background: var(--grey);
}
.nav__single-link {
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    font-style: italic;
    text-transform: capitalize;
    color: var(--Blue);
    transition: all 1s linear;
    
}
.nav__single-link:hover {
background: var(--light);
padding-left: 1.5rem;
cursor: pointer;
}
@media screen and (min-width:768px){
    .nav {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 0.5rem solid var(--Blue);
    }
    .nav__header {
        border: none;
    }
    .nav__btn {
        display: none;
    }
    .nav__links {
        background: transparent;
        height: auto;
        flex: 1 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-self: center;
    }
    .nav__single-link {
        background: transparent;
        flex: 1 0 100px;
    }
    .nav__single-link:hover {
        padding-left: 1rem;
        color: var(--dark);
    }
}
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255, 255, 255, 0.007)), url(./pictures/Enlight2.JPG)center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
}
/* banner */
.banner {
/* as a flex child */
flex:1 0 auto;
/* parent */
display: flex;
justify-content: center;
align-items: flex-end;
color: var(--dark);
text-align: center;
padding-bottom: 4rem;
font-weight: 700;
}
.banner_title {
    font-size: 4rem;
    letter-spacing: 0.15rem;
    margin-bottom: 0.5rem;
    font-style: italic;
    text-transform: capitalize;
}
.banner_info {
    letter-spacing: 0.10rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--Blue)
}
.about {
    padding: 2rem 1rem;
    background: var(--grey);

}
.about-info {
    margin: 3rem 1rem;
    
}
.about-info__title {
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    background: url('./pictures/textureblue.jpeg');
}
.about-info__text {
color: var(--grey);
line-height: 1.5;
font-size: 1.2rem;
margin: 3rem 1rem;
text-align: center;
}
@media screen and (min-width:992px){
.about__center {
    display: flex;
    justify-content: space-between;
}
}
li {
    padding-left: 22px;
    padding-bottom: 8px; 
}
h4 {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--Blue)
}
.favorit-things {
    background: var(--grey);
    color: var(--SectionGrey);
    margin: 2rem 4rem;
}
.favorite-things {
 background: var(--SectionGrey);
 color: var(--grey);
 width: 70%;
 margin: 0 auto;
 padding: 1rem;
 text-align: center;
 line-height: 1.5;
}
.container {
   
 max-width: 760px;
 margin: 0rem auto;
 border: var(--Blue) solid 10px;
}
.main-img img,
.imgs img {
 width: 100%;
}
.imgs {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 7px;
 
}
@keyframes fadeIn {
 to {
  opacity: 1;
 }
}
.fade-in {
 opacity: 0;
 animation: fadeIn 0.7s ease-in forwards;
}
.btn-container {
 text-align: center;
 margin: 1rem;
 padding: 0.5rem;
}
#quiz {
  background: var(--Blue);
    color: var(--SectionGrey);
    display: block;
    margin: 0 auto;
    border-radius: 7px;
  box-shadow: 2px 5px #111e24;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 0.5rem;
    transition: all 0.5s linear;
}
#quiz:hover {
  color: var(--Blue);
  background: var(--SectionGrey);
  transition: all 0.7s ease-in;
  
}
:root {
    --light: #fff;
    --dark: #181b24;
    --grey: #899495;
    --orange: #fc5130;
    --SectionGrey: #f2f2f2;
    --SectionWhite: #ffffff;
    --Blue: #00cca3;
}