@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
}
:root {
    --light: #fff;
    --dark: #181b24;
    --grey: #899495;
    --orange: #fc5130;
    --SectionGrey: #f2f2f2;
    --SectionWhite: #ffffff;
    --Blue: #00cca3;
}
/* nav */
.nav {
    background: var(--light);
}
.nav__header {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    border-bottom: 0.5rem solid var(--Blue);

}
.nav__logo {
    opacity: 0.5;
  
}

.nav__links {
    list-style-type: none;
    background: var(--grey);
}
.nav__single-link {
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    font-style: italic;
    text-transform: capitalize;
    color: var(--Blue);
    transition: all 1s linear;
    
}
.nav__single-link:hover {
background: var(--light);
padding-left: 1.5rem;
cursor: pointer;
}
@media screen and (min-width:768px){
    .nav {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 0.5rem solid var(--Blue);
    }
    .nav__header {
        border: none;
    }
    .nav__btn {
        display: none;
    }
    .nav__links {
        background: transparent;
        height: auto;
        flex: 1 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-self: center;
    }
    .nav__single-link {
        background: transparent;
        flex: 1 0 100px;
    }
    .nav__single-link:hover {
        padding-left: 1rem;
        color: var(--dark);
    }
}
/* end of nav */
/* header */
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255, 255, 255, 0.007)), url(./pictures/Enlight2.JPG)center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
}
/* banner */
.banner {
/* as a flex child */
flex:1 0 auto;
/* parent */
display: flex;
justify-content: center;
align-items: flex-end;
color: var(--dark);
text-align: center;
padding-bottom: 4rem;
font-weight: 700;
}
.banner_title {
    font-size: 4rem;
    letter-spacing: 0.15rem;
    margin-bottom: 0.5rem;
    font-style: italic;
    text-transform: capitalize;
}
.banner_jobs {
    letter-spacing: 0.10rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--Blue)
}
.about {
    padding: 2rem 0;
    background: var(--SectionWhite);

}
/* .about__center {
    max-width: 90vw;
    margin: 2rem auto;
}
.about-img {
    margin: 3rem 0;
    position: relative;
}
.about-img__photo {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.about-img:before{
    content: "";
    background: var(--Blue);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -17px;
    left: -17px;
   
} */
.about-info {
    margin: 3rem 0;
    
}
.about-info__title {
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    background: url('./pictures/textureblue.jpeg');
}
.about-info__text {
color: var(--grey);
line-height: 1.5;
font-size: 1.2rem;
margin: 3rem 0.5rem;
text-align: center;
}
@media screen and (min-width:992px){
.about__center {
    display: flex;
    justify-content: space-between;
}}
.all-about-me {
    background: var(--SectionGrey);
    padding: 3rem 0;
    max-width: 90vh;
    margin: 2rem auto;
}


.isla, .camping, .pool {
    color:  var(--grey);
    margin: 2rem auto;
    text-align: center;
    transition: all 0.6 ease;
    margin: 2rem 3rem;
    padding: 2rem 0;
}
.isla, .camping, .pool:hover {
    background: var(--light);
    box-shadow: 0 15 20 rgba(o,0,0,0.1)
}
li {
    padding-left: 22px;
    padding-bottom: 8px; 
}
h4 {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--Blue)
}
/* .isla, .camping, .pool {
 /* height: 19rem;
 width: 35rem; */
 /* display: block;
 color: #1c323b;
 margin: 3rem 5rem;
 overflow-wrap: break-word;
 border: #089bd1 solid 2px;
 padding: 1rem;
 background: #1c914c;
 
} */ 
/* .isla, .camping, .pool {
 margin: 2rem auto;
 padding: 5rem;
 text-align: 
} */
.favorite {
 background: var(--SectionGrey);
 color: var(--grey);
 width: 100%;
 margin: 0 45px;
 text-align: left;
 line-height: 1.5;

}

.container {
   
 max-width: 760px;
 margin: 3rem 5rem;
 border: var(--Blue) solid 10px;

}
.main-img img,
.imgs img {
 width: 100%;
}
.imgs {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 5px;
 
}
@keyframes fadeIn {
 to {
  opacity: 1;
 }
}
.fade-in {
 opacity: 0;
 animation: fadeIn 0.7s ease-in forwards;
}
.btn-container {
 text-align: center;
 margin: 1rem;
 padding: 0.5rem;
}
#quiz {
 /* height: 3rem;
 width: 8rem;
 text-align: center; 
  border: none;
  color: #0e7338;
  background: #089bd1;
  font-size: 2rem;
  margin:  20px;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  box-shadow: 2px 5px #111e24;
  cursor: pointer;
  outline: none; */
  background: var(--Blue);
    color: var(--SectionGrey);
    display: block;
    margin: 0 auto;
    border-radius: 7px;
  box-shadow: 2px 5px #111e24;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 0.5rem;
    transition: all 0.5s linear;
}
#quiz:hover {
  color: var(--Blue);
  background: var(--SectionGrey);
  transition: all 0.7s ease-in;
  
}

:root {
    --light: #fff;
    --dark: #181b24;
    --grey: #899495;
    --orange: #fc5130;
    --SectionGrey: #f2f2f2;
    --SectionWhite: #ffffff;
    --Blue: #00cca3;
}